.cart-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 4.5rem 6.5rem;
  height: 90vh;
  font-size: 1.6rem;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
}

.all-products img {
  width: 20%;
}

.product-detail-cart {
  display: flex;
}

.product-det {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.remove {
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s red;
}

.remove:hover {
  color: red;
}

.quantity-cart {
  display: flex;
  align-self: center;
  gap: 1.2rem;
}

.quantity-cart button {
  font-size: 1.6rem;
  cursor: pointer;
  background: none;
  border: none;
}

.price,
.total-product {
  display: flex;
  align-items: center;
}

.order-summary {
  background-color: antiquewhite;
  padding: 3.6rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.summary-cart-heading {
  font-size: 2.5rem;
}

.order-total,
.checkout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
}

.order-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
}

.order-options input {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  border-radius: 11px;
  border: 1px solid black;
}

.order-options label {
  display: block;
  font-weight: 500;
}

.select {
  font-size: 1.6rem;
  padding: 0.5rem 1.2rem;
  border-radius: 11px;
}

.btn-apply,
.btn-checkout {
  font-size: 1.6rem;
  padding: 0.8rem 2.4rem;
}
.invalid {
  font-size: 1.2rem;
  font-weight: 600;
  color: red;
}
.hidden {
  display: none;
}
