.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.6rem 0.1rem rgba(75, 75, 75, 0.1);
  padding: 1.2rem 3.2rem;
  gap: 2rem;
  min-height: 50rem;
  height: 50rem;
  border-radius: 25px;
}
.product img {
  width: 100%;
  height: 70%;
  background: none;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.product-name {
  font-size: 2rem;
  color: #cc7e33;
}
.product-price {
  font-size: 1.6rem;
  color: #191006;
  font-weight: 500;
}
