.about-section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-size: 1.6rem;
  padding: 4.5rem 12.8rem;
}

/* !1300 px */

@media (max-width: 81.2em) {
  .about-section {
    padding: 4.5rem 9.8rem;
  }
}
/* !1024 px  */
@media (max-width: 64em) {
  .about-section {
    padding: 4.5rem 6.4rem;
  }
}
/* !768 px  */
@media (max-width: 48em) {
  .about-section {
    padding: 4.5rem 2.4rem;
  }
}

/* ! 425px  */
@media (max-width: 26.56em) {
  .featured-box {
    column-gap: 5rem;
  }
  .section-why-us {
    padding-top: 8rem;
  }
}
