.shop-wrapper {
  position: fixed;
}

.shop-main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5.6rem 4.5rem;
  padding-bottom: 0;
  position: relative;
  left: 15vw;
  width: 85vw;
}

.product-search {
  width: 60%;
  margin: 0 auto;
  padding: 1.2rem;
  border-radius: 11px;
  border: 1px solid #868e96;
}

.product-search:focus {
  outline: none;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

/* .product-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  height: 74vh;
  border: 1px solid red;
  overflow: scroll;
} */

.product-wrapper {
  display: grid;
  height: 74vh;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  overflow: scroll;
  padding: 0 2.4rem;
  padding-top: 2rem;
}

.product-wrapper::-webkit-scrollbar {
  width: 0;
}
