.shop-main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5.6rem 4.5rem;
  padding-bottom: 0;
  position: relative;
  left: 15vw;
  width: 85vw;
}

.product-search {
  width: 60%;
  margin: 0 auto;
  padding: 1.2rem;
  border-radius: 11px;
  border: 1px solid #868e96;
}

.product-search:focus {
  outline: none;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 2rem 2.4rem;
}

.product-wrapper::-webkit-scrollbar {
  width: 0;
}
