.shop-main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5.6rem 4.5rem;
  padding-bottom: 0;
  width: 100%;
}

.product-search {
  display: inline-block;
  width: 60%;
  padding: 1.2rem;
  border-radius: 11px;
  border: 1px solid #868e96;
}

.product-search:focus {
  outline: none;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 2rem 2.4rem;
}

.product-wrapper::-webkit-scrollbar {
  width: 0;
}

/* !1300 px */

@media (max-width: 81.2em) {
  .product-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* !1024 px  */
@media (max-width: 64em) {
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* !768 px  */
@media (max-width: 48em) {
  .product-wrapper {
    grid-template-columns: 1fr;
  }
  .product-search {
    width: 100%;
  }
}
@media (max-width: 26.56em) {
  .product img {
    width: 80% !important;
    height: 60% !important;
  }
  .product-details {
    gap: 1.2rem;
  }
  .shop-main {
    padding: 5.6rem 2.4rem;
  }
}
